body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.5); /* Semi-transparent background */
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 200px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .product {
    width: 200px;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .product img {
    max-width: 100%;
    height: auto;
  }

  .product h2 {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8); /* Semi-transparent text color */
  }

  .media {
    width: 200px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .media-content {
    text-align: center;
    margin-top: 10px;
  }

  .media h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.8); /* Semi-transparent text color */
  }

  .media p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); /* Semi-transparent text color */
  }

  .product p {
    margin-top: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); /* Semi-transparent text color */
  }