@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.heading {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.heading span {
    font-size: 24px;
    color: #020082;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.logout button {
    background-color: #182052;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.navbar {
    background-color: #182052;
    margin-top: 8px;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.dropdown-menu {
    background-color: #a5aaa8;
    list-style: none;
}

.dropdown-item {
    color: #fff4f7;
}

.dropdown-item:hover {
    background-color: #003870;
    color: #fff;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.navbar-nav {
    list-style-type: none;
}




